body {
   text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #0F4D8F;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-bottom: 10px;
}

img {
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 20px;
}