* {
    font-family: "Roboto", sans-serif;
}

:root {
    --white: #fff;
    --teal: #26C1DC;
}


header {
    height: 806px;
    width: 100%;
    background-image: url(./img/Group\ 5\ \(2\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* barre de navigation*/

nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.links {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 54px;
    gap: 20px;
    margin-top: 23px;
}

.link {
    font-family: "Karantina", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    color: var(--white);
    cursor: pointer;
    
}

.link2 {

    font-family: "Karantina", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    color: var(--teal);
    cursor: pointer;
}

/* titres */

.titles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle {

    font-family: 'Karantina';
    font-style: normal;
    font-weight: 400;
    font-size: 101px;
    width: 130px;
    line-height: 5rem;
    text-align: right;
    text-transform: uppercase;
    margin-right: 2rem;
    margin-top: 5rem;

    color: #FFFFFF;
}

.title {
    font-family: 'Karantina';
    font-style: normal;
    font-weight: 400;
    font-size: 290px;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-right: 10rem;
    margin-top: 10rem;

    color: #26C1DC;
    text-shadow: 9px 9px 0 #ffffff,
        -11px 9px 0 #ffffff,
        -9px -11px 0 #ffffff,
        11px -11px 0 #ffffff;
}

.arrow {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    cursor: pointer;
}

.arrowblue {

    background-color: var(--teal);
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

/* page concept */

.concept {
    display: flex;
    justify-content: right;
    background-color: var(--teal);
    height: 903px;
}

.concept-container {
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 833px;
    height: 903px;

}

.concept-left {
    padding: 30px;
    width: 732px;
    height: 459px;
}

.concept-title {
    display: flex;
    justify-content: right;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    color: #fff;
    font-family: "Karantina";
    font-weight: 400;
    text-transform: uppercase;
}

.concept-text {
    display: flex;
    justify-content: right;
    font-weight: 400;
    color: #fff;
    text-align: right;
    font-size: 15px;
    line-height: 18.73px;


}

.concept-img img {
    display: flex;
    justify-content: flex-end;
    width: 607px;
    height: 903px;

}

h3 {
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    font-family: "Karantina";
}

/* page programme */

/* page carte */

/* page inscription */

/* footer */