* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 200px;
}

h1 {
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    text-shadow: 3px 3px 3px grey;
    margin-left: 50px;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    margin-right: 5%;


    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        height: 150px;


        li {
            list-style: none;


            a {
                text-decoration: none;
                color: black;

            }
        

            .material-symbols-outlined {
                font-weight: 500;
                font-size: 25px;
            }


        }

    }
}

li:nth-child(4) {

    a {
        color: #30AAED !important;
    }
}



.hamburger .material-symbols-outlined {
    display: none;
}

main {
    display: flex;
    justify-content: center;
}

.left {

    width: 60%;
    margin-top: 40px;

    img {
        width: 80%;
        text-align: center;
    }
}

.likes {
    width: 35px;
    margin-left: 150px;

}

h2 {
    font-size: 40px;
    font-weight: 800;
    text-align: left;
    margin-top: 20px;
}

.right {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 30%;
    margin-left: 10px;
}

.tag {
    background-color: #CFF7D4;
    color: #5a685c;
    width: 50px;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.price {
    display: flex;
    font-size: 50px;
    font-weight: 700;

    sup {
        padding: 5px;
        font-size: 25px;

    }
}

.text {
    color: gray;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menus {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

}

.menu-left {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
}

.menu-right {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;

    font-size: 20px;
    text-transform: capitalize;
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
    height: 12px;
}

.select-title {
    margin-bottom: 10px;
}


#select {

    border-radius: 10px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
}

.scroll-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(168, 168, 168);
    height: 40px;
    border-radius: 10px;

    span {
        display: block;
        padding: 10px;
    }

}

.scroll-box img {
    width: 20px;
    height: 20px;
    rotate: 180deg;
    margin-right: 10px;
}

button {
    margin-top: 10px;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.about-text {
    margin-top: 15px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}

h4 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
}

.about-text img {
    width: 20px;
    height: 20px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

footer {
    height: 100px;
}


@media (max-width: 1450px) {

    ul {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        transform: translateY(-550%);
        transition: 0.3s;
    }    
    
    nav ul li {
        margin: 25px 0;
        font-size: 1em;
        text-align: right;
    }
    
    main {
        display: block;
        justify-content: center;
        justify-items: center;
    }
    
    .left {
        text-align: center;
        width: 80%;
        
    }    
    
    h2 {
        text-align: center;
    }
    
    .right {
        width: 80%;
    }
    
    
    input:checked ~ nav ul {
        display: flex;
        transform: translateY(0);
        
    }

    nav .menu-burger {
        display: block !important;
    }
}

input {
    display: none;
}

nav .menu-burger {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
    transition: .3s;
}
