* {
   
    font-family: "Roboto";
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;

}

h1 {
    text-transform: uppercase;
    font-size: 75px;
    font-weight: 700;
    text-shadow: 3px 3px 3px grey;
}

menu {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-left: 40px;
}

.link1 a {
    text-decoration: none;
    color: black;
}


.link1 img {
    width: 25px;
    height: 25px;
}

.link2 {
    color: #30AAED;
    font-weight: 600;
    display: flex;
    justify-content: center;
    width: 200px;
}

.link2 img {
    width: 28px;
    height: 28px;
}

main {
    display: flex;
    justify-content: center;
}

.left {
       
    width: 50%;
    margin-top: 40px;
}

.likes {
    width: 35px;
    margin-left: 150px;
    
}

img {
    width: 100%;
}

figure {
    width: 60%;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    text-align: left;
    margin-top: 20px;
}

.right {
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 30%;
    margin-left: 10px;
}

.tag {
    background-color: #CFF7D4;
    color: #5a685c;
    width: 50px;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.price
{
    display: flex;
    font-size: 50px;
    font-weight: 700;

    span {
        margin: 5px;
        font-size: 25px;

    }
}

.text {
    color:gray;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menus {
 display: flex;
 justify-content: space-between;
 width: 100%;
 gap: 10px;
 
}

.menu-left {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
}

.menu-right {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    
    font-size: 20px;
    text-transform: capitalize;
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
    height: 12px;
}



.scroll-box {    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(168, 168, 168);
    height: 40px;
    border-radius: 10px;

    span {
        display: block;
        padding: 10px;
    }
    
}

.scroll-box img {
    width: 20px;
    height: 20px;
    rotate: 180deg;
    margin-right: 10px;
}

button {
    margin-top: 10px;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.about-text {
    margin-top: 15px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}

h4 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-transform: uppercase;
}

.about-text img {
    width: 20px;
    height: 20px;
}

p {
    font-size: 16px;
}
